body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', serif;
    background: black;
}
.navbar{
    background: rgba(0,0,0,0.8);
    font-size: 17px;
}
.navbar-brand{
    margin: 0 10px;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 2px 2px 8px black;
    font-family: 'Poppins', serif;
}
.navbar-nav{
    padding: 10px;
}
.navbar-nav a:hover{
    color: #A2D0CF !important;

}
.dropdown:hover> .dropdown-menu{
    display: block;

}
.menu-area{
    position: static;
}
.mega-area h4{
    text-transform: uppercase;
}
.mega-area{
    margin: 0 0 1em 0;
    color: white;
    padding: 20px;

    font-family: "Bookman Old Style", serif;
}
.dropdown-item{
    padding: 5px 0;
    color: white;
}
#top{
    margin-top: 100px;
}
#center .col-md-4{
    flex-basis: 32%;
    background: white;
    border-radius: 10px;
    margin-bottom: 40px;
    padding: 50px 12px;
    box-sizing: border-box;
}


.clearfix{
    flex-basis: 32%;
    background: gray;
    border-radius: 10px;
    margin-bottom: 4%;
    padding: 20px 12px;
    box-sizing: border-box;
    text-align: justify;
}
.col-sm-4{
    margin-top: 100px;
    height: 20%;
    border-radius: 10px;
}

.col-md-6{
    font-family: 'Poppins', serif;
    text-align: justify;
}
.col-md-3{
    background: green;
    flex-basis: 20%;
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 5px;
    box-sizing: content-box;
}
.col-md-5{
    flex-basis: 32%;
    background: dodgerblue;
    border-radius: 10px;
    margin-bottom: 4%;
    padding: 20px 25px;
    box-sizing: border-box;
    font-family: 'Poppins', serif;
}
.testimonials{
    padding: 40px 80px;
}
.image{
    margin-left: 20%;
    margin-bottom: 0%;
    margin-right: 5%;
    margin-top: 0;
}
#bottom{
    background-color: black;
}
footer{
    margin-top: 100px;
    border-top: 1px solid #ecf0f1;
    background-color: black;
    color:white;
    font-size: 17px;
    padding: 60px 100px;
    font-family: 'Poppins', serif;

}
footer.row{
    margin-top: 100px;
}
@media only screen and (min-width: 1025px) {
    #bottom{
        margin-top: 100px;
    }
    .container h2 {
        font-size: 30px;
    }
}
@media only screen and  (min-width: 768px) and (max-width: 1024px) {
    .container h1{
        font-size: 55px;
    }
    .row h3{
        font-size: 20px;
    }
    #bottom{
        margin-top: 70px;
    }
    .container h2{
        font-size: 25px;
    }

}
@media only screen and (min-width:576px) and (max-width:767px)  {
    .container h1{
        font-size: 50px;
    }
    .row h3{
        font-size: 20px;
    }
    #bottom{
        margin-top: 60px;
    }
    .container h2{
        font-size: 20px;
    }
}
@media only screen  and (max-width:575px) {
    .container h1{
        font-size: 45px;
    }
    .row h3{
        font-size: 20px;
    }
    #bottom{
        margin-top: 50px;
    }
    .container h2{
        font-size: 17px;
    }
    .fear{
        font-size: 5px;
    }

}